:8080

log stdout
errors stderr

tls off

# https://cloud.google.com/appengine/docs/flexible/custom-runtimes/build#lifecycle_events
status 200 /_ah/healthcheck

internal /amppkg-priv
root /letsencrypt/public
#rewrite {
#  if {path} not_starts_with /.well-known
#  to /amppkg/priv/doc?fetch={1}
#}
#proxy /amppkg localhost:8081 {
#  without /amppkg
#}

# works if no Caddyfile
# caddy -type http -http2=false -host=localhost -root=public