:8080

log stdout
errors stderr

tls off

# https://cloud.google.com/appengine/docs/flexible/custom-runtimes/build#lifecycle_events
status 200 /_ah/healthcheck

internal /amppkg-priv
root /letsencrypt/public

proxy /_sign localhost:8081 {
  without /_sign
}

proxy /amppkg localhost:8081

rewrite {
  if {path} not_starts_with /.well-known/
  if {path} not_starts_with /amppkg/
  to /_sign/priv/doc?sign=https%3A%2F%2Fampbyexample.com{path}
}
